body {
    font-family: 'Montserrat', sans-serif;
}

.sing {
    background-color: indigo;
    color: white;
    margin-bottom: 10px;
    padding: 1%;
    cursor: pointer;
}

.sing:hover{
    background-color: tomato;
}

h1 {
    color: tomato;
}

.friend {
background: indigo;
border: tomato 4px solid;
padding: 2%;
margin-bottom: 10px;
}

.friend h3 {
    color: white;
    font-weight: bold;
    text-transform: uppercase;

}

p {
    color: black;
    font-weight: lighter;
}